<!DOCTYPE html>
<html>
<body>
    <img src="http://localhost:8080/images/neu.png" width="300" height="100">
    <h1>apply</h1>
    <form action="http://localhost:8080/home/apply" method="POST">
        username:<%=name%>  <!--?????????-->
        <br>
        device_type:<input type="text" name="device_type">
        <br>
        device_model:<input type="text" name="device_model">
        <br>
        description:<input type="text" name="description">
        <br>
        contact:<input type="text" name="contact">
        <br>
        connecttime:<input type="text" name="connecttime">
        <br>
        site:<input type="text" name="site">
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>
