<!DOCTYPE html>
<html>
<body>
    <img src="http://localhost:8080/images/neu.png" width="300" height="100">

<h1>修改个人信息</h1>
<form action="http://localhost:8080/home/info" method="POST">
        username:<input name="username" type="text">
    <br>
        oldpassword:<input name="oldpassword" type="password">
    <br>
        password:<input name="password" type="password">
    <br>
        truename:<input name="truename" type="text">
    <br>
        tel__num:<input type="text" name="tel">
    <br>
        qqnumber:<input type="text" name="qq">
    <input type="submit" value="submit">
</form>


</body>
</html>